/*************/
/*Positioning*/
/*************/

  /*Fix Nav Bar padding*/
  .container-fluid {
    padding: 0px;
  }

  .content-wrapper {
    height: 91vh;
    display: flex;
  }

  .sidebar {
    padding-top: 1em;
    padding-left: 2em;
  }

  .sidebar-genre {
    display: flex;
  }

  .sidebar-genre > div {
    width: 50%;
    padding: 1em;
  }

/*Navbar Styling*/

.navbar-default .navbar-brand {
  color: black;
}

.navbar .nav > li > a {
  color: black;
}

.navbar-style {
  background-color: #FFB4B0;
  margin: 0;
}

.navbar-button-style {
  background-color: #FFB4B0;
}



.main-content {
  background-color: #FEFAC0;
}


.sidebar {
  background-color: #4DD7FA;
}

.songDiv {
  border: solid 1px black;
  margin-bottom: 1em;
  width: 70%
}
