
.navbar-default .navbar-brand {
  color: black;
}

.navbar .nav > li > a {
  color: black;
}

.navbar-style {
  background-color: #FFB4B0;
  margin: 0;
}

.navbar-button-style {
  background-color: #FFB4B0;
}



.main-wrapper {
  height: 100vh;
  display: flex;

}

.main-content {
  background-color: #FEFAC0;
}


.sidebar {
  /*display: flex;*/
  /*height: 100%;*/
  background-color: #4DD7FA;
}
